html,
body {
  font-family: 'K2D', sans-serif;
  color: #404040;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  background-color: #ffdd99;
}

a {
  color: #404040;
  text-decoration: none;
  text-shadow: 1px 1px 2px #ffff00;
}

a:hover {
  text-shadow: 1px 1px 1px #fd4d0c;
}

h1 {
  color: #fd4d0c;
}
header {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 60px;
  background-color: #ffdd99;
}

#navbar {
  width: 100%;
  list-style: none;
  text-align: center;
}

.nav-link {
  display: inline-block;
  margin: 20px;
/*   padding: 10px; */
}

#buffer {
  height: 60px;
}

#welcome-section {
  width: 100%;
  min-height: 100vh;
  background-color: #ffdd99;
}

#intro {
  width: 340px;
  margin: 0 auto;
}

#projects {
  background-color: #f4e1d2;
  padding-bottom: 90px;
}

.project-tile {
  display: inline-block;
  overflow: hidden;
  width: 280px;
  height: 220px;
  margin: 40px 0;
  border: 2px solid #ffdd99;
}

.proj-pic {
  width: 100%;
  height: 180px;
  border-bottom: 2px solid #ffdd99;
}

.project-title {
  width: 100%;
  text-align: center;
}

.project-detail {
  width: 100%;
  text-align: center;
  font-size: .75em;
  font-style: italic;
}

#all-button {
  display: block;
  width: 200px;
  height: 30px;
  margin: 20px auto 90px;
  padding-top: 10px;
  border: 2px solid #fd4d0c;
  background-color: #ffdd99;
  font-size: 1em;
  font-weight: bold;
}

#contact {
  color: white;
  background-color: #bc5a45;
  min-height: 100vh;
}

.contact-detail {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  margin: 30px 40px;
  border: 2px solid #ffdd99;
  border-radius: 100%;
  text-shadow: none;

}

.contact-detail:hover {
  color: #404040;
  background-color: #ffdd99;
  text-shadow: #ffff00;
  box-shadow: 1px 1px 2px #ffff00;
}

/* MEDIA QUERIES */

@media (min-width: 500px) {
  #navbar {
    text-align: right;
  }

  .project-tile {
    margin: 40px 100px;
  }

  .nav-link {
    margin: 25px 55px 15px;
  }

  #intro {
    width: 500px;
  }
}
