@import './styles/_colors.css';
@import './styles/_header.css';
@import './styles/_welcome.css';
@import './styles/_about.css';
@import './styles/_projects.css';
@import './styles/_contact.css';

/*
Mobile-first apprach. Styles for widers screens are towards the bottom
under Media Queries section
*/

/****** General styles ******/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'K2D', sans-serif;
  color: var(--color-font-primary);
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

a {
  color: var(--color-font-primary);
  text-decoration: none;
}

.buffer {
  height: 60px;
}

footer {
  height: 3em;
  color: var(--color-font-light);
  background-color: var(--color-font-primary);
  font-size: .75em;
}

footer p {
  margin: 0;
  padding-top: .75em;
}

/****************************************
 MEDIA QUERIES
 ****************************************/
@media screen and (min-width: 374px) {

}

@media screen and (min-width: 500px) {

}

@media screen and (min-width: 768px) {

  h2 {
    font-size: 1.75em;
  }

  #about,
  #projects,
  #contact {
    padding-top: 60px;
  }

}
  /* end Media Queries */
