/*
Mobile-first apprach. Styles for widers screens are towards the bottom
under Media Queries section
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'K2D', sans-serif;
  color: #404040;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

a {
  color: #404040;
  text-decoration: none;
}

h1 {
  color: #fd4d0c;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #ffdd99;
  text-align: right;
}

.hamburger,
.nav-close {
  padding: 10px;
  color: #bc5a45;
  background-color: #ffdd99;
  border: none;
  font-size: 1.75em;
}

#navbar {
  position: absolute;
  top: 0;
  right: -150px;        /* -150px hides menu to the side of window */
  height: 100%;
  overflow: visible;
  transition: left 0.3s ease,
              box-shadow 0.3s ease;
  z-index: 999;
  transition: right .5s;
}

#navbar ul {
  list-style: none;
  margin: 0;
  padding: 1em 0 0;
  min-height: 100%;
  width: 150px;
  background: transparent;
}

#navbar:target {
  right: 0;
}

.nav-link {
  display: block;
  margin: 10px 5px;
  line-height: 1em;
  font-size: 1em;
  text-align: center;
}

.nav-link li {
  width: 100%;
  padding: 8px;
  border: 2px solid #bc5a45;
  border-radius: 95% / 95%;
  background-color: #ffdd99;

  text-align: center;
  box-sizing: border-box;
}

.nav-link li:hover {
  color: #fd4d0c;
  box-shadow: 5px 5px 8px #888888;
  font-style: italic;
  font-weight: bold;
  text-shadow: 1px 1px 2px #888888;
}

#buffer {
  height: 60px;
}

#welcome {
  background: linear-gradient(rgba(255,221,153,.2), rgba(255,221,153,.2)),
              no-repeat left center fixed url("https://photos.smugmug.com/Web-Dev/Portfolio-Site/i-cM38h6c/0/1e18cae2/X2/apple-black-and-white-black-and-white-169573-X2.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding-top: 100px;
  box-sizing: border-box;
  text-align: center;
}

#name-badge {
  width: 300px;
  height: 150px;
  margin: 0 auto;
  background-color: #ffdd99;
  border: 8px solid #bc5a45;
  border-radius: 150px / 80px;
  box-shadow: 5px 5px 8px #888888;
}

#name-badge h1 {
  margin-bottom: 15px;
  padding-bottom: 0px;
  font-size: 2.5em;
  font-style: italic;
  text-shadow: 2px 2px 4px #888888;
}

#name-badge p {
  margin-top: 0px;
  font-size: 1.25em;
}

#about {
  min-height: 100vh;
}

#about h2 {
  color: #fd4d0c;
}

#about-flex {
  display: flex;
  flex-direction: column;
}

#intro {
  width: 320px;
  margin: 0 auto;
  text-align: left;
}

#social div {
  display: inline-block;
  flex-direction: row;
}

.social-icon {
  margin: 0 15px;
  padding: 0;
  font-size: 2.5em;
}

.gh-icon:hover {
  color: #767676;
}

.li-icon:hover {
  color: #0077b5;
}
.twitter-icon:hover {
  color: #55ACEE;
}

#projects {
  min-height: 100vh;
  background-color: rgba(255, 191, 128, 0.1);
  padding-bottom: 90px;
}

#projects h2 {color: #bc5a45}

.project-tile {
  display: inline-block;
  overflow: hidden;
  width: 320px;
  height: 280px;
  margin: 20px 0;
  border: 1px solid #bc5a45;
  box-shadow: 2px 2px 5px;
  background-color: white;
  transition: 0.7s ease-in-out;
}

.project-tile:hover {
  box-shadow: 5px 5px 10px #bc5a45;
  transform: scale(1.05);
}

.proj-pic {
  width: 100%;
  height: 220px;
  /* height: auto; */
}

.project-title {
  width: 100%;
  color: #bc5a45;
  text-align: center;
}

.project-detail {
  width: 100%;
  text-align: center;
  font-size: .75em;
  font-style: italic;
}

#contact {
  color: white;
  background-color: #bc5a45;
  min-height: 100vh;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.label {
  width: 300px;
  margin-bottom: 10px;
  text-align: left;
}

.input-field {
  width: 300px;
  margin-bottom: 25px;
  padding: 5px;
  border: none;
  border-bottom: 3px solid white;
  font-family: 'K2D', sans-serif;
  color: white;
  background: none;
}

.input-field::placeholder {
  color: lightgrey;
  opacity: .5;
}

#contact p {
  margin-top: 0;
  font-size: .7em;
  font-style: italic;
}

#contact-submit {
  width: 100px;
  margin-bottom: 25px;
  padding: 8px;
  border: 2px solid #bc5a45;
  border-radius: 95% / 95%;
  box-shadow: 5px 5px 8px #888888;
  color: #fd4d0c;
  font-style: italic;
  font-weight: bold;
  text-shadow: 1px 1px 2px #888888;
  background-color: #ffdd99;
}

#social-small div {
  display: inline-block;
  text-align: center;
}

.social-icon-sm {
  margin: 0 10px;
  padding: 0;
  font-size: 1.25em;
  color: white;
}

footer {
  height: 3em;
  color: #404040;
  background-color: #ffdd99;
  font-size: .75em;
}

footer p {
  margin: 0;
}

/*************** MEDIA QUERIES ****************/

@media screen and (min-width: 500px) {
  header {
    overflow: none;
  }

  #navbar {
    position: static;
    overflow: hidden;
    width: 100%;
    height: auto;
    text-align: right;
    z-index: auto;
  }

  #navbar ul {
    margin: 0;
    padding: 0;
    min-height: auto;
    width: auto;
    background: none;
  }

  .hamburger,
  .nav-close {
    display: none;
  }

  .nav-link {
    display: inline;
    margin: 0;
    padding: 0px;
    background: none;
    border: none;
  }

  .nav-link li {
    display: inline-block;
    margin: 10px 5px;
    padding: 8px;
    width: 80px;
    border: 2px solid transparent;
    border-radius: 100% / 95%;
  }

  .nav-link li:hover {
      border: 2px solid #bc5a45;
  }

  #about-flex {
    flex-direction: row-reverse;
    margin: 0 40px;
  }

  #intro {
    flex: 4;
  }

  #social {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .social-icon {
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 3em;
  }

  .project-tile {
    margin: 20px 30px;
  }

}

@media screen and (min-width: 1000px) {

  h2 {
    font-size: 1.75em;
  }

  header {
    height: 75px;
  }

  #navbar {
    height: auto;
  }

  #navbar ul {
    margin: 0;
    padding: 0;
    min-height: auto;
    width: auto;
  }

  .nav-link {
    font-size: 1.5em;
  }

  .nav-link li {
    display: inline-block;
    margin: 10px 10px;
    padding: 10px;
    width: 120px;
    border: 2px solid transparent;
    border-radius: 100% / 95%;
  }

  .nav-link li:hover {
      border: 2px solid #bc5a45;
  }

  #name-badge {
    width: 460px;
    height: 230px;
    border-radius: 230px / 120px;
  }

  #name-badge h1 {
    margin-bottom: 25px;
    padding-bottom: 0px;
    font-size: 3.5em;
    font-style: italic;
    text-shadow: 2px 2px 4px #888888;
  }

  #name-badge p {
    font-size: 2em;
  }

  #intro {
    flex: 3;
    margin-left: 300px;
    font-size: 1.25em;
  }

  .label,
  .input-field {
    font-size: 1.25em;
  }

  #contact-submit {
    width: 160px;
    margin-bottom: 25px;
    padding: 8px;
    border-radius: 95% / 95%;
    font-size: 1.25em;
  }

}
  /* end Media Queries */
