/****** Color variables  ******/
:root {
  --color-font-primary: #404040;  /* general text */
  --color-font-emph: #2be4cb;     /* h1, nav hover */
  --color-font-light: white;      /* on dark bg */
  --color-font-heading: #e48e2b;  /* headings and submit */
  --color-bg-secondary:  rgba(43, 222, 228, .1);  /* projects bg */
  --color-bg-tertiary: rgba(	8, 65, 66, 1);  /* contact bg */
  --color-bg-transparent: rgba(0, 0, 0, .2);  /* name badge, hamburger */
}
